
.event_navbar {
  position:relative;
  width:100%;
  height:60px;
  background-color:rgba(69, 208, 67,1);
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
  
  .event_navbar_event_time {
      display:inline-block;
      position:absolute;
      top:30px;
      left:30px;
      color: white;
  } 
  
  .event_navbar_event_code {
      display:inline-block;
      position:absolute;
      top:30px;
      left:120px;
      color: white;
  }
  
  .event_navbar_user_icon {
      display:inline-block;
      width:10%;
      line-height:60px;
      color: white;
      text-align:center;
      float:right;
      font-size:20px;
      cursor:pointer;
  }   
}

.event_comment_form_wrapper {
    .event_comment_form_description_wrapper {
        display:inline-block;
        padding: 10px 10px;
        
        border-radius:10px;
        background-color:rgba(225, 254, 244,0.7);
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1));
        
        .event_comment_form_description {
            padding:10px;
            color:black;
            background-color:white;
            border-radius:10px;
        }
        
        .event_comment_form_edit_btn {
            width:30px;
            height:30px;
            text-align:center;
            border-radius:50%;
            padding:3px;
            margin-top:10px;
            background-color:white;
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1));
            cursor:pointer;
        }
    }
    
    .event_comment_form_main {
        display:inline-block;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1));
        padding-bottom:5%;
        
        #post_comment_form {
            background-color:white;
            display:inline-block; 
            width:100%;
            border-radius:20px;
            margin:2% 0;
            
             textarea {
               width: 100%;
               height: 100px;
               font-size: 15px;
               padding: 12px 12px;
               border-radius: 5px;
               border: none;
               resize: none;
             }
            
            .event_submit_btn {
              display: inline-block;
              float:right;
              height:30px;
              margin:10px;
              border: none;
              border-radius: 3px;
              background-color: rgba(98, 218, 98,0.8);
              color: white;
              cursor: pointer;
              filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1));
            }
            
            .event_submit_btn:hover {
              background-color: rgba(98, 218, 98,1);
            }
            
            
        }
        
        .switching_comment_area {
            margin-top:2%;
            .comment_recent{
                display:inline-block;
                padding:5px;
                margin-right:10px;
                border-bottom :solid 3px #4EAA40;
                cursor:pointer;
                
            }
            
            .comment_liked_ranks {
                display:inline-block;
                padding:5px;
                cursor:pointer;
            }
        }
        
        #comments_area_liked_rank_ver {
            display:none;
        }
        
        #comments_area, #comments_area_liked_rank_ver {
            width:100%;
            
            .all_comment_each {
                
                background-color:white;
                border:1px solid #d0d5d8;
                padding:10px;
                
                .event_user_icon {
                    width:100%;
                    height:30px;
                    
                    i {
                        float:left;
                    }
                    
                    .all_comment_each_user_name {
                        font-size:12px;
                        margin-left:10px;
                        float:left;
                    }
                }
                
                .comment_content {
                    display:inline-block;
                    width:80%;
                }
                
                .all_comment_each_destroy {
                   display:inline-block;
                   line-height:100%;
                   padding:5px;
                   border-radius:20px;
                   background-color:rgba(219, 20, 23, 0.61);
                   color:white;
                   text-decoration: none;
                   float:right;
                }
                
                #like_btn_id {
                    height:20px;
                    padding:0 5px;
                    margin-top:3px;
                    
                    a {
                        float:left;
                        color:white;
                        padding:0 5px;
                        background-color:rgba(251, 157, 49,0.8);
                        
                        border-radius:5px;
                        text-decoration: none;
                        
                    }
                    
                    a:hover {
                        background-color:rgba(251, 157, 49,1);
                    }
                    
                    .number_of_likes {
                      display: inline-block;
                      float:left;
                      padding: 0 5px;
                      margin-left:5px;
                      width: 20px;
                      height: 20px;
                      line-height: 20px;
                      text-align: center;
                      color: #FFF;
                      font-size: 10px;
                      font-weight: bold;
                      background: rgba(251, 157, 49,0.9);
                      border-radius: 50%;
                      box-sizing: border-box;
                    }
                    
                }
            }
        }
    }
}

.event_edit_area_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display:none;  
  
  .event_edit_area {
    position:absolute;
    top:10%;
    left:20px;
    
    width:300px;
    height:400px;
    text-align:center;
    background-color:rgba(232, 234, 236,1);
    padding:30px;
    border-radius:20px;
    z-index:20;
    
    .event_content_edit_form {
        width:100%;
        height:90%;
        display:inline-block;
        padding:0;
        
        .fa-times {
          position: absolute;
          top: 12px;
          right: 12px;
          color: rgba(128, 128, 128, 0.46);
          cursor: pointer;
        }
                
        .form-group {
            height:300px;
            
            textarea {
                height:100%;
                width:100%;
                resize: none;
            }
        }
    
        input {
          border-style: none;
          width:30%;
          margin-top:5px;
          background-color:rgba(143, 230, 137,0.8);
          border-radius:20px;
          cursor:pointer;
          filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
        }
    }   
  }
}

@media screen and (min-width: 480px) {
    .event_name {
      display:inline-block;
      padding: 0px 5px;
      position:absolute;
      top:0px;
      left:20px;
      color: white;
      background-color :rgba(133, 225, 131,1); 
      border-radius:20px;
      margin-top:5px;
    }
    
    .event_comment_form_description_wrapper {
      float:left;
      margin:2%;
      width:20%;
      min-height:200px;
    }
    
    .event_comment_form_main {
      float:left;
      margin-left:5%;
      width:50%;
    }
}



@media screen and (max-width: 479px) {
    .event_name {
      display:none;
 
    }
    
    .event_comment_form_wrapper {
      width:100%;
      padding:0 5%;
    }
    
    .event_comment_form_description_wrapper {
      margin-top:2%;
      width:100%;
    }
    
    .event_comment_form_main {
      width:100%;
    }
}