.user_content {
    width:100%;
    height:60px;
    
    background-color:rgba(69, 208, 67,1);
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
}

.user_info_details {
    margin: 0 auto;
    height:60px;
  
  .user_edit {
     height:30px;
     float:left;
     
     .user_icon {
         width:100%;
         line-height:30px;
         color:white;
         
         .user_name {
           width:100%;
           font-size:20px;
           color:white;
           border-bottom:solid 2px white;
         }
     }
     
     .dropdown_menu_user_edit {
         width:120%;
         padding: 3px 20px;
         background:rgb(244, 245, 244);
         display:none;
         
         .user_information {
           .fas.fa-user:before {
             color:grey;
             display:inline-block;
             width:15%;
           }
           
           .user_information_name {
              color:rgb(134, 145, 137);
           }
           
           .user_information_email {
              color:rgb(134, 145, 137); 
           }
         }
         .user_information_edit {
            padding:1px;
            width:30%;
            text-align:center;
            border-radius:2px;
            background:rgba(213, 214, 215, 0.8);
             
            a {
                 color:grey;
                 text-decoration:none;
            }
         }
         
         .user_information_edit:hover {
           background:rgba(213, 214, 215, 1);
         }
     }
  }
  
  .make_event_form {
    display:inline-block;
    float:right;
    height:30px;

    
    
    input[type="text"] {
        border-style: none;
        display:inline-block;
        width:50%;
        height:30px;
        float:left;
    }
         
    input[type="submit"] {
        display:inline-block;
        width:30%;
        height:30px;
        border-style: none;
        color:rgba(49, 146, 47,1);
        background-color:rgba(205, 238, 204,1);
    } 
  }
  
 }
 
.event_content_wrapper {
    /*background-color:rgba(232, 244, 224,1);*/
    text-align:center;
    width:100;
    height:700px;
    
    .event_content {
        display:inline-block;
        width:70%;    
        height:500px;
        margin-top:20px;
        
        
        .create_event_form_wrapper {
            height:50px;
            margin:10px;
            
            .create_event_form {
                color:white;
                height:70%;
                float: right;
                padding:8px 0px;
                border-radius:20px;
                background-color:rgba(102, 147, 219,0.8);
                filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1));
                cursor:pointer;
            }
            
            .create_event_form:hover {
                background-color:rgba(102, 147, 219,1);
            }
        }   
    
      .event_content_each {
         height:80px;
         margin:10px 0px;
         background-color:rgba(244, 245, 244,0.8);
         border-radius:10px;
         filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
         text-decoration:none;
         color:black;
         
           .user_show_event_name {
               width:100%;
               height:30%;
               margin-right: 10px;
               padding:5px;
               float:left;
               text-decoration:none;
               color:black;
           }
          
           .user_show_event_code {
               width:100%;
               height:30%;
               padding:5px;
               float:left;
               color:rgba(39, 46, 34, 0.61);
           }
           
           .user_show_event_destroy {
               display:inline-block;
               padding:5px;
               margin: 0 10px 0 15px;
               float:right;
               border-radius:20px;
               background-color:rgba(219, 20, 23, 0.61);
               line-height:100%;
               
               a {
                   line-height: 100%;
                   color:white;
                   text-decoration: none;
               }
               
           }
           
           .user_show_event_destroy:hover {
                background-color:rgba(219, 20, 23, 0.9);
               
               a {
                   line-height: 100%;
                   color:white;
                   text-decoration: none;
               }
           }
      }    
      
      .event_content_each:hover {
          background-color:rgba(244, 245, 244,1);
          
      }
        
    }
}

/* ここからモバイル用サインアップ画面*/

.user_new_form {
    margin: 0 auto;
    width:100%;
    height:100%;
    padding:20px;
    text-align: center;
    
    h1 {
      font-weight:10px;
      color:#274433;
    }
    
    form {
      width:100%;
      
      .user_new_name, .user_new_mail, .user_new_password, .user_new_password_confirmation {
        width:100%;
        height:30px;
        margin-top:10px;
        border: 1px solid #ccc;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;  
      }
      
      .user_new_submit_btn_for_mobile {
          width:100%;
          padding: 14px 140px;
          background-color:rgba(82, 199, 80, 0.8);
          border: none;
          border-radius: 3px;
          color: white;
          margin: 10px auto;
          cursor: pointer;
      }
      
      .user_new_submit_btn_for_mobile:hover {
          background-color:rgba(82, 199, 80, 1);
      }
    }
}

/*ここからユーザ情報変更画面*/
.user_edit_title {
    margin-top:20px;
    text-align:center;
} 


@media screen and (min-width: 480px) {
  .user_info_details {
    width:70%;
    padding: 15px 20px ;
  }
  
  .user_edit {
    padding: 2px 20px;
    margin: 0px 20px;
  }
  
  .user_name {
    display:inline-block;
    margin-left:5px;
  }
  
  .make_event_form {
    width:20%;
  }
  
  .create_event_form_wrapper {
    
  }
  
  .create_event_form {
    width:15%;
  }
}

@media screen and (max-width: 479px) {
  .user_info_details {
    width:100%;
    padding: 15px 5px;    
  }
  
  .user_edit {
     width:40%;
     padding: 2px;
     margin:0 10px;
  } 
  
  .user_email {
     display:none;
  }
  
  .make_event_form {
    width:50%;
  }
  
  
  .create_event_form_wrapper {

  }
  
  .create_event_form {
    width:100%;
  }
  
  .user_show_event_name {
    display:none; 
  }
}


